<template>
  <div :id="'work-id-' + information.id" :class="[$style.rootContainerCustom,$style.body]">
    <div :class="$style.headerComponent">
      <experience-title
        :title="information.position"
        :subtitle="information.company"
        :link="information.website"
        :start="information.startDate"
        :end="information.endDate"
        :tags="information.tag"
        :technicals="information.technical"
      />
    </div>

    <experience-highlight :highlights="information.highlights" />

    <experience-summary :summary="information.summary" />

    <div :class="[$style.detailComponent, $style[$i18n.locale]]" v-html="information.body" />

    <div v-if="information.gallery.length > 0">
      <experience-banner :class="$style.bannerComponent" :gallery="information.gallery" />
    </div>
  </div>
</template>

<script>
import ExperienceBanner from '~/components/experience/banner.vue'
import ExperienceTitle from '~/components/experience/title.vue'
import ExperienceHighlight from '~/components/experience/highlight.vue'
import ExperienceSummary from '~/components/experience/summary.vue'

export default {
  components: {
    'experience-banner': ExperienceBanner,
    'experience-title': ExperienceTitle,
    'experience-highlight': ExperienceHighlight,
    'experience-summary': ExperienceSummary
  },
  head() {
    const title = `${this.information.position} | Kamontat Chantrachirathumrong`
    const description = this.information.summary

    return {
      title: title,
      meta: [
        {
          hid: 'og:site_name',
          name: 'og:site_name',
          property: 'og:site_name',
          content: title
        },
        {
          hid: 'og:description',
          name: 'og:description',
          property: 'og:description',
          content: description
        },
        {
          hid: 'og:url',
          name: 'og:url',
          property: 'og:url',
          content: `${process.env.baseUrl}${this.$route.path}`
        },
        {
          hid: 'description',
          name: 'description',
          content: description
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `${this.information.company},${
            this.information.position
          },${this.information.tag.join()},${this.information.technical.join()}`
        },
        {
          hid: 'og:created_at',
          name: 'og:created_at',
          property: 'og:created_at',
          content: this.information.createdAt
        },
        {
          hid: 'og:updated_at',
          name: 'og:updated_at',
          property: 'og:updated_at',
          content: this.information.updatedAt
        }
      ]
    }
  },
  async asyncData({ $axios, params, app, payload }) {
    let information = {}

    if (payload) {
      information = payload
    } else {
      information = await $axios.$get(`works/${params.id}`, {
        useCache: true,
        params: { who: 'net', lang: app.i18n.locale }
      })
    }

    if (
      information.gallery.length < 1 ||
      information.gallery[0].name !== 'banner'
    ) {
      if (information.banner)
        information.gallery.unshift({
          name: 'banner',
          file: information.banner
        })
    }
    console.log(information)
    return { information }
  }
}
</script>

<style lang="sass" module>
@import "../experience/index.sass"

.bannerComponent
  display: flex
  justify-content: center

</style>
