<template>
  <iframe :src="link" frameborder="0" :class="$style.pdf" />
</template>

<script>
export default {
  layout: 'empty',
  head() {
    return {
      bodyAttrs: {
        style: 'margin: unset'
      }
    }
  },
  data() {
    return {
      link: '/download/kamontat-resume.pdf'
    }
  }
}
</script>

<style lang="sass" module>
.pdf
  width: 100vw
  height: 100vh

</style>
