// This files required helper.sass

@each $color-name,$color-code in $black-white-colors
  +isLightMode
    %#{$color-name}DynamicColor
      color: $color-code

    %#{$color-name}DynamicBGColor
      background-color: $color-code

  +isDarkMode
    %#{$color-name}DynamicColor
      color: findLighterColor($color-code, 100%)

    %#{$color-name}DynamicBGColor
      background-color: findLighterColor($color-code, 85%)

@each $color-name,$color-code in $colorfuls
  +isLightMode
    %#{$color-name}DynamicColor
      color: findDarkerColor($color-code)

    %#{$color-name}DynamicBGColor
      background-color: findLighterColor($color-code)

  +isDarkMode
    %#{$color-name}DynamicColor
      color: findLighterColor($color-code)

    %#{$color-name}DynamicBGColor
      background-color: findDarkerColor($color-code)

@each $color-name,$color-code in $colors
  %#{$color-name}Color
    color: $color-code

  %#{$color-name}DarkerColor
    color: findDarkerColor($color-code)

  %#{$color-name}LighterColor
    color: findLighterColor($color-code)

  %#{$color-name}BGColor
    background-color: $color-code

  %#{$color-name}DarkerBGColor
    background-color: findDarkerColor($color-code)

  %#{$color-name}LighterBGColor
    background-color: findLighterColor($color-code)

+isLightMode
  %lightDynamicColor
    color: $light

  %darkDynamicColor
    color: $dark

  %lightDynamicBGColor
    background-color: $light

  %darkDynamicBGColor
    background-color: $dark

+isDarkMode
  %lightDynamicColor
    color: $dark

  %darkDynamicColor
    color: $light

  %lightDynamicBGColor
    background-color: $dark

  %darkDynamicBGColor
    background-color: $light
