%noselect
  -webkit-touch-callout: none // iOS Safari
  -webkit-user-select: none  // Safari
  -khtml-user-select: none  // Konqueror HTML
  -moz-user-select: none   // Firefox
  -ms-user-select: none   // Internet Explorer/Edge
  user-select: none      // Non-prefixed version, currently supported by Chrome and Opera

%selectable
  -webkit-touch-callout: initial // iOS Safari
  -webkit-user-select: initial  // Safari
  -khtml-user-select: initial  // Konqueror HTML
  -moz-user-select: initial   // Firefox
  -ms-user-select: initial   // Internet Explorer/Edge
  user-select: initial      // Non-prefixed version, currently supported by Chrome and Opera
