=fullpanel($reduce-height: 0px, $reduce-width: 0px)
  height: calc( 100vh - #{$reduce-height} )
  width: calc( 100vw - #{$reduce-width} )

=min-fullpanel($reduce-height: 0px, $reduce-width: 0px)
  min-height: calc( 100vh - #{$reduce-height} )
  width: calc( 100vw - #{$reduce-width} )
