<template>
  <notifications 
    :duration="5000"
    :speed="300"
    :animation="makeAnimation"
    width="500"
    animation-type="velocity"
    position="top center"
    :classes="'default-notification ' + $store.state.theme"
    group="notification"
  />
</template>

<script>
export default {
  computed: {
    makeAnimation() {
      return {
        enter: {
          opacity: [1, 0],
          'margin-top': [0, -30]
        },
        leave: {
          opacity: [0, 1],
          'margin-top': [50, 0]
        }
      }
    }
  }
}
</script>

<style lang="scss">
@import '~/assets/styles/helper.sass';

@import '~/assets/styles/inheritances/color.sass';

.notifications {
  z-index: 999;
  position: absolute;

  @include touch {
    width: 100% !important;
    left: 0 !important;
  }

  @include computer {
    width: 500px;
  }
}

.default-notification {
  margin-top: $gap-f-2;
  padding: $gap-f-3;
  padding-left: $gap-f-4;

  border-left: $gap-f-4 solid;

  border-radius: $radius-small;

  .notification-title {
    font-size: $font-h6;
    margin-bottom: $gap-f-2;
  }

  .notification-content {
    font-size: $font-p;
  }

  &.warn {
    @extend %warnDynamicBGColor;
    color: $dark;

    &.dark {
      border-left-color: $light;
    }

    &.light {
      border-left-color: $dark;
    }
  }

  &.error {
    @extend %errorDynamicBGColor;
    color: $light;

    &.dark {
      border-left-color: $light;
    }

    &.light {
      border-left-color: $dark;
    }
  }

  &.success {
    @extend %successDynamicBGColor;
    color: $light;

    &.dark {
      border-left-color: $light;
    }

    &.light {
      border-left-color: $dark;
    }
  }

  &.info {
    @extend %infoDynamicBGColor;
    color: $light;

    &.dark {
      border-left-color: $light;
    }

    &.light {
      border-left-color: $dark;
    }
  }
}
</style>
