<template>
  <div>
    <span :class="$style.helpMessage">{{ getHelpMessage || $t('helpMessage') }}</span>
    <div id="search-input">
      <form novalidate="novalidate" onsubmit="return false;" :class="getFormClass" :theme="$store.state.theme">
        <div v-cloak role="search" :class="getClassWrapper">
          <input
            ref="search1"
            type="search"
            name="search"
            placeholder=""
            autocomplete="off"
            required="required"
            :class="getClassInputPlaceholder"
            tabindex="-1"
          >
          <input
            ref="search2"
            v-model="textVal"
            v-focus
            :disabled="disabled"
            type="search"
            :name="name"
            :placeholder="getPlaceholder"
            autocomplete="off"
            required="required"
            :class="getClassInput"
            autofocus="autofocus"
            @click="emitClickInput"
            @keyup="changeText"
          >
          <button type="submit" :class="getClassSubmit" tabindex="-1" @click="emitClickButton">
            <svg role="img" aria-label="Search">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="getSVGSearch" />
            </svg>
          </button>
          <button type="reset" :class="getClassReset" tabindex="-1" @click="reset">
            <svg role="img" aria-label="Reset">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="getSVGClear" />
            </svg>
          </button>
          <div v-if="modeIsFull" :class="$style['el-input-group__append']">
            <ul v-if="suggestionsIsVisible && showSuggestions" v-on-clickaway="away" :class="$style['vue-instant__suggestions']">
              <li v-for="(item, index) in similiarData" :key="'suggestion-id' + index" :class="getClassHighlighted(index)" @click="selectedAction(index)">
                {{ suggestionAttribute(item) }}
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  
    <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
      <symbol id="sbx-icon-search-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40">
        <path
          d="M16 32c8.835 0 16-7.165 16-16 0-8.837-7.165-16-16-16C7.162 0 0 7.163 0 16c0 8.835 7.163 16 16 16zm0-5.76c5.654 0 10.24-4.586 10.24-10.24 0-5.656-4.586-10.24-10.24-10.24-5.656 0-10.24 4.584-10.24 10.24 0 5.654 4.584 10.24 10.24 10.24zM28.156 32.8c-1.282-1.282-1.278-3.363.002-4.643 1.282-1.284 3.365-1.28 4.642-.003l6.238 6.238c1.282 1.282 1.278 3.363-.002 4.643-1.283 1.283-3.366 1.28-4.643.002l-6.238-6.238z"
          fill-rule="evenodd"
        />
      </symbol>
      <symbol id="sbx-icon-clear-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path
          d="M11.664 9.877l4.485 4.485-1.542 1.54-4.485-4.485-4.485 4.485-1.54-1.54 4.485-4.485-4.485-4.485 1.54-1.54 4.485 4.484 4.485-4.485 1.54 1.542-4.484 4.485zM10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10z"
          fill-rule="evenodd"
        />
      </symbol>
    </svg>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'VueInstant',
  mixins: [clickaway],
  props: {
    value: {
      type: String,
      required: true
    },
    suggestions: {
      type: Array,
      required: true
    },
    suggestionAttribute: {
      type: Function,
      required: true
    },
    placeholder: {
      type: String,
      default: 'write something...'
    },
    minMatch: {
      type: Number,
      default: 2
    },
    name: {
      type: String,
      default: 'vueInstant'
    },
    autofocus: {
      type: Boolean,
      default: true
    },
    disabled: {
      type: Boolean
    },
    type: {
      type: String,
      default: 'custom'
    },
    showAutocomplete: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      selectedEvent: null,
      selectedSuggest: null,
      inputChanged: false,
      suggestionsIsVisible: true,
      highlightedIndex: 0,
      highlightedIndexMax: 7,
      similiarData: [],
      placeholderVal: this.placeholder,
      helpMessage: undefined,
      types: [
        {
          name: 'custom',
          formClass: [this.$style.searchbox, this.$style['sbx-custom']],
          classWrapper: this.$style['sbx-custom__wrapper'],
          classInput: this.$style['sbx-custom__input'],
          classInputPlaceholder: this.$style['sbx-custom__input-placeholder'],
          classSubmit: this.$style['sbx-custom__submit'],
          classReset: this.$style['sbx-custom__reset'],
          highlighClass: this.$style.highlighted__custom,
          svgClear: '#sbx-icon-clear-4',
          svgSearch: '#sbx-icon-search-8'
        }
      ]
    }
  },
  computed: {
    getHelpMessage() {
      if (!this.helpMessage) return undefined
      return `${this.$t('you mean')} '${this.$tc(this.helpMessage)}'`
    },
    getPlaceholder() {
      if (this.inputChanged || this.textValIsEmpty()) {
        return this.placeholderVal
      }
      return ''
    },
    modeIsFull() {
      return this.showAutocomplete
    },
    showSuggestions() {
      return this.similiarData.length >= this.minMatch
    },
    getPropertiesClass() {
      const type = this.getType()
      return type.properties
    },
    getFormClass() {
      const type = this.getType()
      return type.formClass
    },
    getClassWrapper() {
      const type = this.getType()
      return type.classWrapper
    },
    getClassInput() {
      const type = this.getType()
      return type.classInput
    },
    getClassInputPlaceholder() {
      const type = this.getType()
      return type.classInputPlaceholder
    },
    getClassSubmit() {
      const type = this.getType()
      return type.classSubmit
    },
    getSVGSearch() {
      const type = this.getType()
      return type.svgSearch
    },
    getClassReset() {
      const type = this.getType()
      return type.classReset
    },
    getSVGClear() {
      const type = this.getType()
      return type.svgClear
    },

    textVal: {
      get() {
        return this.value
      },
      set(v) {
        this.$emit('input', v)
      }
    }
  },
  watch: {
    suggestions: {
      deep: true,
      handler() {
        this.findSuggests()
      }
    },
    placeholder: function(val) {
      if (this.textValIsEmpty()) {
        this.placeholderVal = val
      }
    }
  },
  methods: {
    decrementHighlightedIndex() {
      this.highlightedIndex -= 1
    },
    incrementHighlightedIndex() {
      this.highlightedIndex += 1
    },
    escapeAction() {
      this.clearHighlightedIndex()
      this.clearSimilarData()
      this.clearSelected()
      this.clearHelpMessage()
      this.setBlur()
      this.emitEscape()
    },
    arrowRightAction() {
      this.setPlaceholderAndTextVal()
      this.emitKeyRight()
    },
    arrowDownAction() {
      if (this.arrowDownValidation()) {
        this.incrementHighlightedIndex()
        this.setPlaceholderAndTextVal()
        this.emitKeyDown()
      } else {
        this.clearHighlightedIndex()
      }
    },
    arrowUpAction() {
      if (this.highlightedIndex > 0) {
        this.decrementHighlightedIndex()
        this.setPlaceholderAndTextVal()
        this.emitKeyUp()
      } else {
        this.clearHighlightedIndex()
      }
    },
    enterAction() {
      this.setFinalTextValue()
      this.clearHighlightedIndex()
      this.clearSimilarData()
      this.emitEnter()
    },
    selectedAction(index) {
      this.highlightedIndex = index
      this.setFinalTextValue()
      this.clearPlaceholder()
      this.clearHelpMessage()
      this.clearSimilarData()
      this.emitSelected()
    },
    addRegister(o) {
      if (this.isSimilar(o) && this.textValIsNotEmpty()) {
        this.addSuggestion(o)
      }
    },
    addSuggestion(o) {
      if (!this.findSuggestionTextIsRepited(o)) {
        this.addToSimilarData(o)
      }
    },
    addToSimilarData(o) {
      if (this.canAddToSimilarData()) {
        this.placeholderVal = this.letterProcess(o)
        this.helpMessage = o.name
        this.selectedSuggest = o
        // this.emitSelected()
        this.similiarData.unshift(o)
      }
    },
    setTextValue(e) {
      if (e.target.value.trim()) {
        this.textVal = e.target.value
        this.emitChange()
      }
    },
    setSelectedAsTextValue() {
      this.textVal = this.selected
    },
    setInitialTextValue() {
      this.textVal = this.value
    },
    setFinalTextValue() {
      if (this.finalTextValueValidation()) {
        this.setPlaceholderAndTextVal()
        this.emitChange()
      } else {
        this.clearAll()
      }
    },
    setPlaceholderAndTextVal() {
      if (typeof this.similiarData[this.highlightedIndex] !== 'undefined') {
        const suggest = this.similiarData[this.highlightedIndex]
        this.placeholderVal = this.textVal = this.helpMessage = this.suggestionAttribute(
          suggest
        )
        this.selectedSuggest = suggest
        // this.emitSelected()
      }
    },
    setInitialPlaceholder() {
      this.placeholderVal = this.placeholder
    },
    setBlur() {
      this.$el.blur()
    },
    getType() {
      return this.types.find(this.isSameType)
    },
    getClassHighlighted(index) {
      if (this.highlightedIndex === index) {
        const type = this.getType()
        return type.highlighClass
      }
    },
    letterProcess(o) {
      const remoteText = this.suggestionAttribute(o).split('')
      const inputText = this.textVal.split('')
      inputText.forEach(function(letter, key) {
        if (letter !== remoteText[key]) {
          remoteText[key] = letter
        }
      })
      return remoteText.join('')
    },
    findSuggests() {
      if (this.suggestionsPropIsDefined()) {
        this.suggestions.forEach(v => this.addRegister(v))
      }
    },
    arrowDownValidation() {
      return (
        this.highlightedIndex < this.highlightedIndexMax &&
        this.highlightedIndex < this.similiarData.length - 1
      )
    },
    lowerFirst(string) {
      return string.charAt(0).toLowerCase() + string.slice(1)
    },
    controlEvents() {
      console.log(`${this.selectedEvent} Event occurred`)

      const uncaptz = this.lowerFirst(this.selectedEvent + 'Action')
      const fnName = this[uncaptz]
      if (this.fnExists(fnName)) {
        fnName()
      }
    },
    findRepited(similarItem, o) {
      return (
        this.suggestionAttribute(similarItem) === this.suggestionAttribute(o)
      )
    },
    findSuggestionTextIsRepited(o) {
      return this.similiarData.find(this.findRepited.bind(this, o))
    },
    finalTextValueValidation() {
      return (
        typeof this.similiarData[this.highlightedIndex] !== 'undefined' ||
        (this.placeholderVal === '' && this.highlightedIndex !== 0)
      )
    },
    isSimilar(o) {
      if (o) {
        const query = this.textVal.toLowerCase()

        const key = this.suggestionAttribute(o).toLowerCase()
        if (key.startsWith(query)) return true

        const params = key.match(/\(.*\)/)
        if (params && params.length > 0 && params[0].startsWith(`(${query}`))
          return true

        return false
      }
    },
    isSameType(o) {
      return o.name === this.type
    },
    fnExists(fnName) {
      return typeof fnName === 'function'
    },
    canAddToSimilarData() {
      return this.similiarData.length < this.highlightedIndexMax
    },
    suggestionsPropIsDefined() {
      return typeof this.suggestions !== 'undefined'
    },
    notArrowKeysEvent() {
      return (
        this.selectedEvent !== 'ArrowUp' &&
        this.selectedEvent !== 'ArrowDown' &&
        this.selectedEvent !== 'ArrowRight'
      )
    },
    notEnterKeyEvent() {
      return this.selectedEvent !== 'Enter'
    },
    textValIsEmpty() {
      return this.textVal === ''
    },
    textValIsNotEmpty() {
      return this.textVal !== ''
    },
    reset() {
      this.clearValue()
      this.clearSelected()
      this.clearPlaceholder()
      this.clearHelpMessage()
      this.clearSimilarData()
      this.clearSelectedSuggest()
      this.emitClear()
      // this.emitSelected()
    },
    clearAll() {
      this.clearSelected()
      this.clearPlaceholder()
      this.clearHelpMessage()
      this.clearSimilarData()
      this.clearSelectedSuggest()
    },
    clearValue() {
      this.textVal = ''
    },
    clearSelected() {
      this.selected = null
    },
    clearSelectedSuggest() {
      this.selectedSuggest = null
    },
    clearSimilarData() {
      this.similiarData = []
    },
    clearPlaceholder() {
      if (this.textValIsEmpty()) {
        this.clearSimilarData()
        this.setInitialPlaceholder()
      } else {
        this.placeholderVal = ''
      }
    },
    clearHelpMessage() {
      this.helpMessage = undefined
    },
    clearHighlightedIndex() {
      this.highlightedIndex = 0
    },
    changeText(e) {
      this.selectedEvent = e.code
      this.setTextValue(e)
      this.processChangeText()
      this.controlEvents(e)
    },
    processChangeText(e) {
      if (this.notEnterKeyEvent()) {
        this.inputChanged = true
        this.suggestionsIsVisible = true
        this.clearAllAndFindSuggest()
      }
    },
    clearAllAndFindSuggest() {
      if (this.notArrowKeysEvent()) {
        this.clearAll()
        this.findSuggests()
      }
    },
    away() {
      this.suggestionsIsVisible = false
      // this.emitSelected()
    },
    emitChange() {
      // this.$emit('input', this.textVal)
    },
    emitClickInput(event) {
      this.$emit('click-input', event)
    },
    emitClickButton(event) {
      console.log(`Click event occurred`)
      this.$emit('click-button', this.textVal, this.selectedSuggest)
    },
    emitEnter() {
      this.$emit('enter') // , this.selectedSuggest
    },
    emitKeyUp() {
      this.$emit('key-up')
    },
    emitKeyDown() {
      this.$emit('key-down', this.selectedSuggest)
    },
    emitKeyRight() {
      this.$emit('key-right')
    },
    emitClear() {
      this.$emit('clear')
    },
    emitEscape() {
      this.$emit('escape')
    },
    emitSelected() {
      this.$emit('selected', this.selectedSuggest)
    }
  }
}
</script>

<style lang="scss" module>
@import '~/assets/styles/variables/constant/_all.sass';
@import '~/assets/styles/mixins/_all.sass';
@import '~/assets/styles/utilities/color.sass';

@import '~/assets/styles/inheritances/color.sass';

.helpMessage {
  @extend %greyDynamicColor;
  opacity: 0.7;
}

$custom: (
  input-width: 100%,
  input-height: 44px,
  border-width: 1px,
  border-radius: 16px,
  input-border-color: #e1e8ed,
  input-focus-border-color: #d6dee3,
  input-background: #f5f8fa,
  input-focus-background: #ffffff,
  font-size: 100%,
  placeholder-color: $grey-dark,
  icon: sbx-icon-search-8,
  icon-size: 100%,
  icon-position: right,
  icon-color: $dark,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear: sbx-icon-clear-3,
  icon-clear-size: 90%
);

@function even-px($value) {
  @if type-of($value) == 'number' {
    @if (unitless($value)) {
      $value: $value * 1px;
    } @else if unit($value) == 'em' {
      $value: ($value / 1em * 16px);
    } @else if unit($value) == 'pts' {
      $value: $value * 1.3333 * 1px;
    } @else if unit($value) == '%' {
      $value: $value * 16 / 100% * 1px;
    }
    $value: round($value);
    @if ($value % 2 != 0) {
      $value: $value + 1;
    }
    @return $value;
  }
}

@mixin searchbox(
  $font-size: 90%,
  $input-width: 350px,
  $input-height: $font-size * 2.4,
  $border-width: 1px,
  $border-radius: $input-height / 2,
  $input-border-color: #ccc,
  $input-focus-border-color: #1ec9ea,
  $input-background: #f8f8f8,
  $input-focus-background: #fff,
  $placeholder-color: #aaa,
  $icon: 'sbx-icon-search-1',
  $icon-size: $input-height / 1.6,
  $icon-position: left,
  $icon-color: #888,
  $icon-background: $input-focus-border-color,
  $icon-background-opacity: 0.1,
  $icon-clear: 'sbx-icon-clear-1',
  $icon-clear-size: $font-size / 1.1
) {
  display: inline-block;
  position: relative;
  width: $input-width;
  height: even-px($input-height);
  white-space: nowrap;
  box-sizing: border-box;
  font-size: $font-size;

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__input {
    display: inline-block;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;

    @extend %darkDynamicColor;
    @extend %lightDynamicBGColor;

    transition: box-shadow 0.4s ease, background 0.4s ease;
    border: 0;
    border-radius: even-px($border-radius);
    box-shadow: inset 0 0 0 $border-width $input-border-color;
    background: $input-background;
    padding: 0;
    padding-right: if(
        $icon-position == 'right',
        even-px($input-height) + even-px($icon-clear-size) + 8px,
        even-px($input-height * 0.8)
      ) + if($icon-background-opacity == 0, 0, even-px($font-size));
    padding-left: if(
      $icon-position == 'right',
      even-px($font-size / 2) + even-px($border-radius / 2),
      even-px($input-height) +
        if($icon-background-opacity == 0, 0, even-px($font-size * 1.2))
    );
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    appearance: none;

    &-placeholder {
      -webkit-transition: box-shadow 0.4s ease, background 0.4s ease;
      transition: box-shadow 0.4s ease, background 0.4s ease;
      border: 0;
      border-radius: 4px;
      box-shadow: inset 0 0 0 0px #cccccc;

      @extend %lightDynamicBGColor;

      padding: 0;
      padding-right: if(
          $icon-position == 'right',
          even-px($input-height) + even-px($icon-clear-size) + 8px,
          even-px($input-height * 0.8)
        ) + if($icon-background-opacity == 0, 0, even-px($font-size));
      padding-left: if(
        $icon-position == 'right',
        even-px($font-size / 2) + even-px($border-radius / 2),
        even-px($input-height) +
          if($icon-background-opacity == 0, 0, even-px($font-size * 1.2))
      );
      width: 100%;
      height: 100%;
      vertical-align: middle;
      white-space: normal;
      font-size: inherit;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &:hover {
      box-shadow: inset 0 0 0 $border-width darken($input-border-color, 10%);
    }

    &:focus,
    &:active {
      outline: 0;
      box-shadow: inset 0 0 0 $border-width $input-focus-border-color;
      background: $input-focus-background;
    }

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__submit {
    position: absolute;
    top: 0;
    @if $icon-position == 'right' {
      right: 0;
      left: inherit;
    } @else {
      right: inherit;
      left: 0;
    }
    margin: 0;
    border: 0;
    border-radius: if(
      $icon-position == 'right',
      0 $border-radius $border-radius 0,
      $border-radius 0 0 $border-radius
    );

    background-color: transparent;

    padding: 0;
    width: even-px($input-height) +
      if($icon-background-opacity == 0, 0, even-px($font-size / 2));
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    user-select: none;

    // Helper for vertical alignement of the icon
    &::before {
      display: inline-block;
      margin-right: -4px;
      height: 100%;
      vertical-align: middle;
      content: '';
    }

    &:hover,
    &:active {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }

    svg {
      width: even-px($icon-size);
      height: even-px($icon-size);
      vertical-align: middle;
    }
  }

  &__reset {
    display: none;
    position: absolute;
    top: (even-px($input-height) - even-px($icon-clear-size)) / 2 - 4px;
    right: if(
      $icon-position == 'right',
      even-px($input-height) +
        if($icon-background-opacity == 0, 0, even-px($font-size)),
      (even-px($input-height) - even-px($icon-clear-size)) / 2 - 4px
    );
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    user-select: none;
    fill: rgba(#000, 0.5);

    &:focus {
      outline: 0;
    }

    svg {
      display: block;
      margin: 4px;
      width: even-px($icon-clear-size);
      height: even-px($icon-clear-size);
    }
  }

  &__input:valid ~ &__reset {
    display: block;
    animation-name: sbx-reset-in;
    animation-duration: 0.15s;
  }

  @at-root {
    @keyframes sbx-reset-in {
      0% {
        transform: translate3d(-20%, 0, 0);
        opacity: 0;
      }

      100% {
        transform: none;
        opacity: 1;
      }
    }
  }
}

.sbx-custom {
  @include searchbox($custom...);
}

$suggest-border: #d3dce6;

.vue-instant__suggestions {
  position: absolute;
  left: 0;
  top: 110%;
  margin: 0;
  width: 100%;
  padding: 6px 0;
  z-index: 10;
  border-radius: 2px;
  max-height: 280px;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 3px;

  li {
    list-style: none;
    line-height: 36px;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    color: $grey-light;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.highlighted__custom {
      background-color: $primary;
      color: $white;
    }
  }
}

@include isDarkMode {
  svg {
    fill: $light;
  }

  .vue-instant__suggestions {
    background-color: $dark;
    box-shadow: 0 0 6px 0 rgba($black, 0.12), 0 2px 4px 0 rgba($black, 0.24);

    border: 1px solid findDarkerColor($suggest-border);
  }
}

@include isLightMode {
  svg {
    fill: $dark;
  }

  .vue-instant__suggestions {
    background-color: $light;
    box-shadow: 0 0 6px 0 rgba($white, 0.12), 0 2px 4px 0 rgba($white, 0.24);

    border: 1px solid findDarkerColor($suggest-border);
  }
}

.el-input-group__append {
  border: 0px !important;
}
</style>
