@import '~/assets/styles/helper.sass'
@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/layout.sass'
@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/content.sass'

@import '~/assets/styles/components/grid.sass'

.rootContainerCustom
  @extend .rootContainer
  flex-direction: column

.body
  +touch
    +min-fullpanel($reduce-height: 40px + 40px, $reduce-width: $gap-f-5 * 2)
  +computer
    +min-fullpanel($reduce-height: 40px + 40px, $reduce-width: $gap-f-7 * 2)

.headerComponent
  display: flex
  margin-top: 40px
  margin-bottom: $gap-f-5

.detailComponent
  display: block
  @extend .content
  @extend .protected
