<template>
  <div :class="[$style.centerContainer, shouldWarning ? $style.warning : '']">
    <h1 :class="[$style.title, $style.h4, $style.applySerif, $style.en]">
      {{ code }} | {{ name }}
    </h1>
    <p :class="[$style.p, $style.applySansSerif, $style.en]">
      {{ message }}
    </p>
    <small>redirect in {{ getLimitTime }}s</small>
  </div>
</template>

<script>
export default {
  data() {
    return {
      code: 1,
      name: 'Error occurred',
      message: 'Unknown error occurred, please contact website administrator',
      limit: 6000,
      interval: 1000
    }
  },
  head() {
    return {
      htmlAttrs: {
        state: this.shouldWarning ? 'warning' : undefined
      }
    }
  },
  computed: {
    getLimitTime() {
      return this.limit / 1000
    },
    shouldWarning() {
      return this.limit < 4000
    }
  },
  asyncData({ query }) {
    return query
  },
  mounted() {
    setTimeout(() => {
      this.$router.push('/')
    }, this.limit)

    setInterval(() => {
      this.limit -= this.interval
    }, this.interval)
  }
}
</script>

<style lang="sass">
@import '~/assets/styles/variables/constant/_all.sass'

html[state='warning']
  color: $light
  background-color: $red !important

</style>


<style lang="sass" module>
@import '~/assets/styles/helper.sass'
@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/layout.sass'

.centerContainer
  height: 100vh - 40

.warning
  color: $light
  background-color: $red

</style>
