<template>
  <div :class="$style.bannerComponent">
    <figure v-for="(cloudinary, index) in gallery" :key="cloudinary.file.publicId">
      <img
        v-show="index === imageIndex"
        v-img:group="{changed: imageChanged}"
        :title="cloudinary.name"
        :class="[$style.responsive, $style.shadow]"
        :src="cloudinaryUrl(cloudinary.file.publicId)"
      >
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    gallery: {
      type: Array,
      default: () => undefined
    }
  },
  data() {
    return {
      imageIndex: 0
    }
  },
  methods: {
    cloudinaryUrl(id, opt) {
      return this.$cloudinary.url(id, opt)
    },
    imageChanged(index) {
      this.imageIndex = index
    }
  }
}
</script>


<style lang="sass" module scoped>
@import '~/assets/styles/helper.sass'

@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/image.sass'

.bannerComponent
  display: flex
  // order: 1

</style>
