<template>
  <div v-if="highlights.length > 0" :class="[$style.highlightComponent]">
    <fieldset :class="[$style.highlightBorder]">
      <legend>Highlight</legend>
      <ul :class="$style.content">
        <li v-for="highlight in highlights" :key="highlight" :class="[$style.p]">
          {{ highlight }}
        </li>
      </ul>
    </fieldset>
  </div>
</template>

<script>
export default {
  props: {
    highlights: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="sass" module scoped>
@import '~/assets/styles/helper.sass'
@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/content.sass'

.highlightComponent
  margin-top: $gap-f-5
  margin-bottom: $gap-f-7
  margin-top: $gap-f-6

  .highlightBorder
    border: $gap-f-3 solid 
    border-color: $black
    @extend %noselect

    legend
      @extend .h5
      @extend .applySansSerif

      @extend %primaryDynamicColor

      padding-left: $gap-f-4
      padding-right: $gap-f-4

+isDarkMode
  .highlightComponent
    .highlightBorder
      border-color: $white

</style>
