<template>
  <div v-if="name" :class="$style.headComponent">
    <h1 :class="[$style.applyMonospace, $style.h1]">
      {{ name }}
    </h1>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: undefined
    }
  }
}
</script>

<style lang="sass" module>
@import '~/assets/styles/helper.sass'
@import '~/assets/styles/inheritances/_all.sass'
@import '~/assets/styles/classes/font.sass'

.headComponent
  margin-top: $gap-f-6
  margin-bottom: $gap-f-6


</style>
