<template>
  <div v-if="summary" :class="$style.summaryComponent">
    <p>{{ summary }}</p>
  </div>
</template>

<script>
export default {
  props: {
    summary: {
      type: String,
      default: undefined
    }
  }
}
</script>

<style lang="sass" module scoped>

@import '~/assets/styles/helper.sass'
@import '~/assets/styles/inheritances/_all.sass'
@import '~/assets/styles/classes/font.sass'

.summaryComponent
  @extend .applySerif
  @extend .h7
  @extend %blackDynamicColor
  @extend %noselect

  margin-top: $gap-f-4
  margin-bottom: $gap-f-6

  p
    padding-left: $gap-f-3

  p::first-letter
    font-size: 300%
    line-height: 15px

    @extend %primaryDynamicColor
</style>
