<template>
  <div :class="$style.titleComponent">
    <slot name="title">
      <a v-if="link" :class="[$style.titleColor, $style.h1, $style.link]" :href="link" target="_blank">
        {{ title }}
      </a>
      <h1 v-else :class="[$style.titleColor, $style.h1]">
        {{ title }}
      </h1>
    </slot>
    <slot v-if="subtitle" name="subtitle">
      <h3 :class="[$style.h4]">
        {{ subtitle }}
      </h3>
    </slot>
    <div :class="[$style.dateComponent]">
      <span v-if="start" :class="[$style.dateTitle, $style.p, $style.applySansSerif, $style[$i18n.locale]]">{{ $t('start') }}</span>
      <span v-if="start" :class="[$style.p, $style.applySansSerif, $style[$i18n.locale]]">{{ makeDateReadable(startDate) }}</span>

      <span v-if="end" :class="$style.seperateLine" />

      <span v-if="end" :class="[$style.dateTitle, $style.p, $style.applySansSerif, $style[$i18n.locale]]">{{ $t('end') }}</span>
      <span v-if="end" :class="[$style.p, $style.applySansSerif, $style[$i18n.locale]]">{{ makeDateReadable(endDate) }}</span>

      <span v-if="end" :class="$style.seperateLine" />

      <img v-if="start" :class="$style.dateIcon" :src="`https://png.icons8.com/material-outlined/24/${themeColor}/clock`">
      <span v-if="end" :class="[$style.p, $style.applySansSerif, $style[$i18n.locale]]">{{ makeTimePeriod(startDate, endDate) }}</span>
    </div>
    <div :class="[$style.badges, $style.multipleline, $style.center, $style.touchLimit3, $style.allLimit4]">
      <span v-for="tag in tags" :key="'tag-' + tag" :class="[$style.badge, $style.primary, $style.round]">{{ tag }}</span>
      <span v-for="technical in technicals" :key="'tech-' + technical" :class="[$style.badge, $style.secondary, $style.round]">{{ technical }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Unknown'
    },
    subtitle: {
      type: String,
      default: undefined
    },
    link: {
      type: String,
      default: undefined
    },
    start: {
      type: String,
      default: undefined
    },
    end: {
      type: String,
      default: undefined
    },
    tags: {
      type: Array,
      default: () => []
    },
    technicals: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    themeColor() {
      if (this.$store.state.theme === 'light') return '000000'
      else return 'FFFFFF'
    },
    startDate() {
      this.$moment.locale(this.$i18n.locale)
      return this.$moment.utc(this.start, 'YYYY-MM-DD')
    },
    endDate() {
      this.$moment.locale(this.$i18n.locale)
      return this.$moment.utc(this.end, 'YYYY-MM-DD')
    }
  },
  methods: {
    makeDateReadable(date) {
      return date.format('ll')
    },
    makeTimePeriod(start, end) {
      return this.$moment.duration(end.diff(start)).humanize()
    }
  }
}
</script>

<style lang="sass" module scoped>
@import '~/assets/styles/helper.sass'

@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/content.sass'

@import '~/assets/styles/components/badge.sass'

.titleComponent
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 100% // make full size of parent
  
  // order: 2

  @extend .content

  .titleColor
    @extend %blackDynamicColor

    line-height: 1

+touch
  .titleComponent
    margin-bottom: $gap-f-7

.dateComponent
  @extend %noselect
  display: flex

  margin-top: $gap-f-4
  margin-bottom: $gap-f-3

  span
    @extend %blackDynamicColor

  span.seperateLine
    @extend %greyDynamicColor
    margin-right: $gap-f-4
    margin-left: $gap-f-4
    margin-top: $gap-f-2
    margin-bottom: $gap-f-2
    border: 1px solid

.dateTitle
  margin-right: $gap-f-3

.dateIcon
  margin-right: $gap-f-2
  margin-left: $gap-f-2

.badges
  margin-top: $gap-f-4

.link
  text-decoration: unset !important

+isDarkMode
  .link
    border-bottom: $gap-f-3 solid $white

+isLightMode
  .link
    border-bottom: $gap-f-3 solid $black
</style>
