@import '~/assets/styles/inheritances/utils.sass'

$size: 8

=generate-limit-size($type)
  @for $i from 1 through $size
    &.#{$type}Limit#{$i}
      span.badge
        $number: 100 / ($i + 1)
        flex-basis: $number + 0%
        flex-grow: 1

        &.fixed
          max-width: $number + 0%

.badges
  display: flex

  @extend %noselect
  .noprotect
    @extend %selectable

  &.multipleline
    flex-wrap: wrap

  &.center
    text-align: center
    justify-content: center

  span.badge
    @extend .applySansSerif
    margin: $gap-f-3
    padding: $gap-f-2

    &.round
      border-radius: $radius-large

    @each $color-name, $color-code in $colors
      &.#{$color-name}
        color: #{$color-code}
        border: 2px solid #{$color-code}

      &.#{$color-name}BG
        background-color: #{$color-code}

  +generate-limit-size('all')
  +mobile
    +generate-limit-size('mobile')
  +tablet
    +generate-limit-size('tablet')
  +touch
    +generate-limit-size('touch')
  +desktop
    +generate-limit-size('desktop')
  +widescreen
    +generate-limit-size('sidescreen')
  +fullhd
    +generate-limit-size('fullhd')
  +computer
    +generate-limit-size('computer')
