+isDarkMode
  .card
    color: $light
    background-color: findDarkerColor($dark, 10%)

    box-shadow: 0 4px 8px 0 rgba($light, 0.3)

  .card.hover
    &:hover
      border: $gap-f-2 outset $primary-darker
      box-shadow: 4px 12px 18px 4px rgba($light, 0.3)

+isLightMode
  .card
    color: $dark
    background-color: findLighterColor($light, 5%)

    box-shadow: 0 4px 8px 0 rgba($dark, 0.3)

  .card.hover
    &:hover
      border: $gap-f-2 outset $primary
      box-shadow: 4px 12px 18px 4px rgba($dark, 0.3)

.card
  position: relative
  margin: $gap-f-4
  padding: $gap-f-2

  -webkit-transition: -webkit-box-shadow .25s
  transition: box-shadow .25s
  transition: -webkit-box-shadow .25s
  transition: box-shadow .25s, -webkit-box-shadow .25s

  .cardContent
    padding: 24px

    .cardTitle
      @extend .applySansSerif
      font-size: 24px
      font-weight: bold
      display: block
      line-height: 32px
      margin-bottom: 8px
      
      

    p
      @extend .applySerif
      font-weight: 300
      margin: 0
