
$fab-size: 60px !default
$screen-gap: 40px !default

a.fab
  color: none
  text-decoration: none
  
.fab
  display: flex
  align-items: center
  justify-content: center

  position: fixed
  width: $fab-size
  height: $fab-size
  bottom: $screen-gap
  right: $screen-gap
  border-radius: $radius-rounded
  text-align: center

  -webkit-transition: -webkit-box-shadow .25s
  transition: box-shadow .25s
  transition: -webkit-box-shadow .25s
  transition: box-shadow .25s, -webkit-box-shadow .25s

  @extend %primaryDynamicBGColor

  span
    @extend %noselect

    color: $white
    font-size: $font-h4
    font-weight: bold
    line-height: 0

+isDarkMode
  .fab
    box-shadow: 2px 2px 3px $white

    &:hover
      box-shadow: 4px 4px 12px $light

+isLightMode
  .fab
    box-shadow: 2px 2px 3px $black

    &:hover
      box-shadow: 4px 4px 12px $dark
