// How to use
// .gridSystem
//    .row [.reverse] [.hasUpperGap] [.hasLowerGap] [.hasGap]
//       .column [.reverse]
// 
// To set responsive columns
// This have 5 devices size: mobile, tablet, desktop, widescreen, fullhd
// with 3 combine: touch=mobile,tablet; computer=desktop,widescreen,fullhd; all
// I will called this 8 size as type
// 
// Set to row
//   1. {type}IsFull
//   2. {type}IsHalf
//   3. {type}IsOneThird
//   4. {type}IsQuarter
//
// Set to column
//   1. {type}{number(1-12)}              - set size n/12
//   2. {type}Offset{number(1-12)}        - set offset size n/12 
//   3. {type}OrderIs{number(1-10)}       - set column location

$half-gap: $gap * 0.5
$compensation: $half-gap * -1 // be negative

$grid-size: 12 !default
$order-size: 10 !default

// =generate-column-size($type)
//   @for $i from 1 through $grid-size
//     // for offset
//     &.#{$type}Offset#{$i}
//       $number: $i * 100 / $grid-size
//       margin-left: $number

//     // for size specify
//     &.#{$type}#{$i}
//         $number: $i * 100 / $grid-size
//         flex-basis: $number + 0%
//         max-width: $number + 0%

// =generate-column-order($type)
//   @for $i from 1 through $order-size
//     &.#{$type}OrderIs#{$i}
//       order: $i

=generate-row-size($type)
  &.#{$type}IsFull
    .column
        $number: $grid-size * 100 / $grid-size
        flex-basis: $number + 0%
        max-width: $number + 0%

  &.#{$type}IsHalf
    .column
        $number: ($grid-size / 2) * 100 / $grid-size
        flex-basis: $number + 0%
        max-width: $number + 0%

  &.#{$type}IsOneThird
    .column
        $number: ($grid-size / 3) * 100 / $grid-size
        flex-basis: $number + 0%
        max-width: $number + 0%

  &.#{$type}IsQuarter
    .column
        $number: ($grid-size / 4) * 100 / $grid-size
        flex-basis: $number + 0%
        max-width: $number + 0%

.gridSystem
  margin: 0px
  padding: 0px
  margin-right: auto
  margin-left: auto

  .row
    box-sizing: border-box
    display: flex
    flex: 0 1 auto
    flex-direction: row
    flex-wrap: wrap

    // &.reverse
    //   flex-direction: row-reverse

    // &.hasUpperGap
    //   margin-top: $gap-f-4
    
    // &.hasLowerGap
    //   margin-bottom: $gap-f-4

    // &.hasGap
    //   margin-top: $gap-f-4
    //   margin-bottom: $gap-f-4

    .column
      box-sizing: border-box
      flex: 0 0 auto
      flex-direction: column

      flex-grow: 1
      flex-basis: 0
      max-width: 100%

      // &.reverse
      //   flex-direction: column-reverse
        
      // +generate-column-size('all')
      // +generate-column-order('all')

      // +mobile
      //   +generate-column-size('mobile')
      //   +generate-column-order('mobile')
      // +tablet
      //   +generate-column-size('tablet')
      //   +generate-column-order('tablet')
      // +touch
      //   +generate-column-size('touch')
      //   +generate-column-order('touch')
      // +desktop
      //   +generate-column-size('desktop')
      //   +generate-column-order('desktop')
      // +widescreen
      //   +generate-column-size('widescreen')
      //   +generate-column-order('widescreen')
      // +fullhd
      //   +generate-column-size('fullhd')
      //   +generate-column-order('fullhd')
      // +computer
      //   +generate-column-size('computer')
      //   +generate-column-order('computer')

    +generate-row-size('all')

    +mobile
      +generate-row-size('mobile')
    +tablet
      +generate-row-size('tablet')
    +touch
      +generate-row-size('touch')
    +desktop
      +generate-row-size('desktop')
    +widescreen
      +generate-row-size('widescreen')
    +fullhd
      +generate-row-size('fullhd')
    +computer
      +generate-row-size('computer')
