// How to use
// start with `newGridSystem`
// 
// .newGridSystem
//   .row.multipleline.limit[1-12]In[screen-type].autoFill
//     .column.size[1-12]In[screen-type].offset[1-11].order[1-10]

$grid-size: 12

=limit-size($type)
  @for $i from 1 through $grid-size
    %limit#{$i}In#{$type}, %column%size#{$i}In#{$type}
      $number: 100 / ($i + 1)

      flex-basis: $number + 0%
      max-width: $number + 0%

    %autofill
      flex-grow: 1
      max-width: unset

.newGridSystem
  margin: 0px
  padding: 0px
  margin-right: auto
  margin-left: auto

  .row
    box-sizing: border-box
    display: flex
    flex: 0 1 auto
    flex-direction: row
    
    &.multipleline
      flex-wrap: wrap

    .column
      box-sizing: border-box
      flex: 0 0 auto

      flex-direction: column
      flex-grow: 1
      flex-basis: 0
      max-width: 100%
    
    +limit-size('all')

    +mobile
      +limit-size('mobile')
    +tablet
      +limit-size('tablet')
    +touch
      +limit-size('touch')
    +desktop
      +limit-size('desktop')
    +widescreen
      +limit-size('widescreen')
    +fullhd
      +limit-size('fullhd')
    +computer
      +limit-size('computer')
