html
  height: 100vh

  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

*, *:before, *:after 
  box-sizing: border-box
  margin: 0


h1, h2, h3, h4, h5, h6
  font-size: 1rem
  margin: 0px
  margin-block-start: 0px
  margin-block-end: 0px
  margin-inline-start: 0px
  margin-inline-end: 0px
  font-weight: normal

  padding: 0px
