<template>
  <div content="kc-default-layout">
    <default-notification />
    <div :class="$style.navbar">
      <div :class="[$style.homeSwitch, $style.link]">
        <nuxt-link v-if="$route.path !== '/' && $route.path !== '/th'" :to="localePath('index', $i18n.locale)">
          {{ $t('home') }}
        </nuxt-link>
      </div>

      <div :class="$style.languageSwitch">
        <a :class="[$style.link, $style.themeSwitch]" @click="theme()">{{ $t($store.state.nextTheme) }}</a>
        <nuxt-link
          v-for="locale in availableLocales"
          :key="locale.code"
          :class="$style.link"
          :to="goToLocalePath(locale.code)"
        >
          {{ locale.name }}
        </nuxt-link>
      </div>
    </div>
    <nuxt />

    <div :class="$style.footer">
      <div :class="[$style.badges, $style.noprotect]">
        <span :class="[$style.badge, $style.reference]">Icon by <a :class="$style.link" href="https://icons8.com" target="_blank">Icon8</a></span>
        <span :class="[$style.badge, $style.reference]">CSS inspired by <a :class="$style.link" href="https://bulma.io" target="_blank">Bulma</a></span>
        <span :class="[$style.badge, $style.reference]">Inspired UI by <a :class="$style.link" href="https://google.com" target="_blank">Google</a></span>
      </div>
    </div>
  </div>
</template>

<script>
import { hashscrolling } from '~/assets/scripts/scroll-utils.js'
import { listOfActions } from '~/assets/scripts/apis.js'

import DefaultNotification from '~/components/DefaultNotification.vue'

const { theme } = listOfActions()

export default {
  components: {
    'default-notification': DefaultNotification
  },
  head() {
    const i18nSeo = this.$nuxtI18nSeo()
    return {
      htmlAttrs: {
        vue: true,
        ...i18nSeo.htmlAttrs,
        theme: this.$store.state.theme
      },
      meta: [
        ...i18nSeo.meta,
        {
          hid: 'content-language',
          'http-equiv': 'content-language',
          content: this.$i18n.locale
        }
      ],
      link: [...i18nSeo.link]
    }
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  },
  mounted() {
    if (this.$cookie.get('kcv') !== process.env.pkg.version) {
      this.$notify({
        type: 'info',
        group: 'notification',
        title: this.$t('title.information'),
        text: this.$t('message.website-update', {
          old: this.$cookie.get('kcv') || '0',
          new: process.env.pkg.version
        })
      })
      this.$cookie.removeAll()
    }

    this.$cookie.set('kcv', process.env.pkg.version) // update kc-version

    const i18n = this.$cookie.get('kci')
    if (i18n) {
      console.log(`Preload with i18n=${i18n}`)

      switch (i18n) {
        case 'th':
          this.switchLocalePath('th')
          break
        case 'en':
          this.switchLocalePath('en')
          break
        default:
          this.switchLocalePath('en')
          break
      }
    } else {
      this.$cookie.set('kci', this.$i18n.locale, {
        maxAge: 60 * 60 * 24 * 7
      }) // update theme in cookie
    }

    // Manually parse hashes / decide on scrollBehavior for initial page load (from SSR)
    if (this.$route.hash) {
      this.$nextTick(() => {
        // This could be configured to use a smooth scroll, etc.
        return hashscrolling(this.$route)
      })
    }
  },
  methods: {
    goToLocalePath(locale) {
      const result = this.switchLocalePath(locale)
      this.$cookie.set('kci', this.$i18n.locale, {
        maxAge: 60 * 60 * 24 * 7
      })

      return result
    },
    theme() {
      return theme(this, {})
    }
  }
}
</script>

<style lang="sass">
// Lato (sans)
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext') // title

// Merriweather (serif)
@import url('https://fonts.googleapis.com/css?family=Merriweather&subset=latin-ext') // long type

// Kanit (sans thai)
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai') // title

// NotoSerifThai (serif thai)
// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Thin.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Thin.woff') format('woff')
//     font-weight: 100
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-ExtraLight.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-ExtraLight.woff') format('woff')
//     font-weight: 200
//     font-style: normal


// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Light.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Light.woff') format('woff')
//     font-weight: 300
//     font-style: normal

@font-face 
    font-family: 'Noto Serif Thai'
    src: url('/fonts/noto-serif-thai/NotoSerifThai-Regular.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Medium.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Medium.woff') format('woff')
//     font-weight: 500
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-SemiBold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-SemiBold.woff') format('woff')
//     font-weight: 600
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Bold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Bold.woff') format('woff')
//     font-weight: bold
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-ExtraBold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-ExtraBold.woff') format('woff')
//     font-weight: 800
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Black.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Black.woff') format('woff')
//     font-weight: 900
//     font-style: normal

// VT323 (monospace)
@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext')

// Fira (code)
@import url('https://fonts.googleapis.com/css?family=Fira+Mono')
</style>

<style lang="sass" module>
@import '~/assets/styles/variables/constant/_all.sass'
@import '~/assets/styles/reset.sass' // reset some of component to be easier to implement

@import '~/assets/styles/mixins/_all.sass'
@import '~/assets/styles/utilities/_all.sass'

@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/layout.sass'

@import '~/assets/styles/components/badge.sass'

.navbar
  position: sticky
  top: 0
  right: 0
  left: 0
  z-index: 100

  display: flex
  justify-content: space-between
  align-items: center
  height: $header-size
  max-height: $header-size

+isLightMode
  .navbar
    background-color: $light

+isDarkMode
  .navbar
    background-color: $dark

.homeSwitch, .languageSwitch, .themeSwitch
  @extend .applySerif
  margin-top: $gap-f-5
  margin-bottom: $gap-f-5

.homeSwitch
  margin-left: $gap-f-5

.languageSwitch
  margin-right: $gap-f-5

.themeSwitch
  margin-right: $gap-f-5

.footer
  @extend .rootContainer
  align-items: center
  justify-content: center

  height: $footer-size
  max-height: $footer-size

  .seperator
    margin-left: $gap-f-3
    margin-right: $gap-f-3

  .seperator:before
    @extend %greyDynamicColor
    content: '|'

</style>
