<template>
  <div :class="$style.centerContainer">
    <div :class="[$style.content, $style.en]">
      <h1 v-if="error.statusCode === 404">
        <span :class="$style.statusCode">404</span> Page not found
      </h1>
      <h1 v-else>
        <span :class="$style.statusCode">{{ error.statusCode }}</span> {{ error.message }}
      </h1>
      <div :class="$style.rememberableContainer">
        <p>If this shouldn't happen, remember this text</p>
        <div :class="$style.codeContainer">
          <code :class="[$style.code, $style.longText, $style.applyMonospace, $style.en]">{{ encodeCode }}</code>
        </div>
        <p>
          Otherwise, go back to <nuxt-link to="/">
            HOME
          </nuxt-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import { Base64 } from 'js-base64'

export default {
  props: {
    error: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    encodeCode() {
      const obj = {
        date: new Date().getTime(),
        buildDate: process.env.buildDate,
        version: process.env.pkg.version,
        env: process.env.nodeEnv,
        path: this.error.path
      }

      return Base64.encode(JSON.stringify(obj))
    }
  }
}
</script>

<style lang="sass" module>
// Lato (sans)
@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext') // title

// Merriweather (serif)
@import url('https://fonts.googleapis.com/css?family=Merriweather&subset=latin-ext') // long type

// Kanit (sans thai)
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai') // title

// NotoSerifThai (serif thai)
// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Thin.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Thin.woff') format('woff')
//     font-weight: 100
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-ExtraLight.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-ExtraLight.woff') format('woff')
//     font-weight: 200
//     font-style: normal


// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Light.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Light.woff') format('woff')
//     font-weight: 300
//     font-style: normal

@font-face 
    font-family: 'Noto Serif Thai'
    src: url('/fonts/noto-serif-thai/NotoSerifThai-Regular.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Regular.woff') format('woff')
    font-weight: normal
    font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Medium.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Medium.woff') format('woff')
//     font-weight: 500
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-SemiBold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-SemiBold.woff') format('woff')
//     font-weight: 600
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Bold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Bold.woff') format('woff')
//     font-weight: bold
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-ExtraBold.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-ExtraBold.woff') format('woff')
//     font-weight: 800
//     font-style: normal

// @font-face 
//     font-family: 'Noto Serif Thai'
//     src: url('/fonts/noto-serif-thai/NotoSerifThai-Black.woff2') format('woff2'), url('/fonts/noto-serif-thai/NotoSerifThai-Black.woff') format('woff')
//     font-weight: 900
//     font-style: normal

// VT323 (monospace)
@import url('https://fonts.googleapis.com/css?family=VT323&subset=latin-ext')

@import '~/assets/styles/_all.sass'

.rememberableContainer
  margin-top: $gap-f-5

.longText
  word-break: break-all


.statusCode
  color: $red
  &:hover
    color: $primary

.codeContainer
  margin-top: $gap-f-4
  margin-bottom: $gap-f-5

</style>
