<template>
  <div :class="$style.rootContainer">
    <div :class="[$style.content,$style.en]" v-html="changelog" />
  </div>
</template>

<script>
import changelog from '../CHANGELOG.md'

export default {
  computed: {
    changelog() {
      return changelog
    }
  }
}
</script>

<style lang="sass" module>
@import '~/assets/styles/helper.sass'
@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/layout.sass'

@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/content.sass'

h1, h2, h3, h4, h5, h6
  @extend .title

li
  @extend .h7
  line-height: 2

</style>
