<template>
  <div :class="[$style.rootContainer, $style.section, $style.limitX]">
    <div :class="[$style.content, $style[$i18n.locale]]">
      <h1 :class="[$style.title]">
        {{ $t('helpTitle') }}
      </h1>
      <p>
        {{ $t('abstract') }}
      </p>
      <div v-for="content in contents" :key="content.title">
        <h3 :id="content.id" :class="$style.title">
          {{ content.title }}
        </h3>
        <p>{{ content.description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head: {
    title: 'Help | Kamontat Chantrachirathumrong'
  },
  data() {},
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    },
    contents() {
      return this.$i18n.messages[this.$i18n.locale].helpContents
    }
  },
  asyncData({ query }) {
    const lang = query.lang
    return { lang: lang || 'en' }
  }
}
</script>

<style lang="sass" module>
@import '~/assets/styles/helper.sass'

@import '~/assets/styles/inheritances/_all.sass'

@import '~/assets/styles/classes/font.sass'
@import '~/assets/styles/classes/layout.sass'
@import '~/assets/styles/classes/content.sass'

.languageContainer
  display: flex
  justify-content: space-between

.languageSwitch
  margin-right: $gap-f-5
  margin-top: $gap-f-5

.homeSwitch
  margin-left: $gap-f-5
  margin-top: $gap-f-5

</style>
