<template>
  <div id="top">
    <vue-loading
      :active="waiting" 
      :can-cancel="false" 
      :is-full-page="true"
      color="none"
      background-color="none"
      opacity="1"
      z-index="99"
      :class="$style.loadingComponent"
    >
      <slot>
        <vue-loading-spinner />
      </slot>
    </vue-loading>

    <div :class="$style.centerContainer">
      <div :class="$style.textCenter">
        <h1 :class="[$style.upper, $style.h4, $style.hello, $style.applyMonospace, $style[$i18n.locale]]">
          {{ $t('hello') }}, {{ information[$i18n.locale].nickname }}
        </h1>
        <h3 :class="[$style.h3, $style.title, $style.applySansSerif, $style[$i18n.locale]]">
          {{ information[$i18n.locale].firstname }} {{ information[$i18n.locale].lastname }}
        </h3>
        <h5 :class="[$style.h5, $style.applySansSerif, $style[$i18n.locale], $style.position]">
          {{ information[$i18n.locale].myself }}
        </h5>
      </div>

      <div v-observe-visibility="searchbarVisibility" :class="$style.inputContainer">
        <vue-instant
          ref="search"
          v-model="value"
          :suggest-on-all-words="false"
          :show-autocomplete="true"
          :disabled="false"
          :suggestions="suggestions"
          :suggestion-attribute="getSuggestionAttribute"
          name="search"
          :placeholder="$t('placeholder')"
          :class="[$style.input, $style.applySansSerif, $style[$i18n.locale]]"
          @enter="enterButton"
          @click-button="clickButton"
          @selected="onSelected"
          @clear="onClear"
          @escape="onClear"
        />
      </div>
    </div>

    <div v-show="value !== '' && Object.keys(response).length > 0" id="detail-container" :class="$style.fullContainer">
      <div v-for="(data, key) in response" :key="key">
        <div v-if="data.length > 0" :class="[$style.content, $style[$i18n.locale]]">
          <h3 :class="[$style.title]">
            {{ $tc(key.substr(0, key.length - 1), 2) }}
          </h3>

          <div :class="$style.gridSystem">
            <div :class="[$style.row, $style.mobileIsFull, $style.tabletIsFull, $style.desktopIsHalf, $style.widescreenIsOneThird, $style.fullhdIsOneThird]">
              <div v-for="information in data" :key="getKey(key, information)" :class="$style.column">
                <div :class="[$style.card, haveLink(key, information) ? $style.hover : '']">
                  <div :class="$style.cardContent" @click="haveLink(key, information) ? $router.push(buildLinkPath(key, information)) : undefined">
                    <figure v-if="getImage(key, information)">
                      <img :class="$style.responsive" :src="getImage(key, information).url">
                    </figure>
                    <h1 :class="$style.cardTitle">
                      {{ getTitle(key, information) }}
                    </h1>
                    <p>{{ getMessage(key, information) }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a :class="[$style.fab, isSearchbarVisible ? $style.invisible:$style.visible]" @click="toTop()">
      <span>+</span>
    </a>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import { listOfSuggestion, listOfActions } from '~/assets/scripts/apis.js'
import { capitalLetter } from '~/assets/scripts/text-utils.js'
import {
  getKey,
  getImage,
  getTitle,
  getMessage,
  haveLink,
  getLink
} from '~/assets/scripts/conversion.js'

import VueInstant from '~/components/VueInstant.vue'
import Loading from 'vue-loading-overlay'
import Spinner from 'vue-loading-overlay/src/loaders/spinner.vue'
// Import stylesheet
import 'vue-loading-overlay/dist/vue-loading.css'

const actions = listOfActions()

export default {
  middleware: 'cookie',
  components: {
    'vue-instant': VueInstant,
    'vue-loading': Loading,
    'vue-loading-spinner': Spinner
  },
  data() {
    return {
      suggestionAttribute: 'name',
      isSearchbarVisible: true,
      waiting: false
    }
  },
  computed: {
    ...mapState(['information', 'response', 'selected']),
    value: {
      set(value) {
        this.$store.commit('setValue', value)
      },
      get() {
        return this.$store.state.value || ''
      }
    }
  },
  async asyncData(ctx) {
    const result = await listOfSuggestion(ctx)
    return { suggestions: result }
  },
  mounted() {
    if (this.response) {
      this.$scrollTo('#detail-container')
    }
  },
  methods: {
    capitalLetter,
    getKey,
    getImage,
    getTitle,
    getMessage,
    haveLink,
    buildLinkPath(key, info) {
      const path = getLink(key, info)
      if (this.$i18n.locale === 'en') return path
      else return `/${this.$i18n.locale}${path}`
    },
    getSuggestionAttribute(suggestion) {
      return `${this.$tc(suggestion.name)} (${this.$tc(suggestion.type)})`
    },
    clickButton(value, obj) {
      return this.makeAction(obj, { force: true })
    },
    enterButton(obj) {
      return this.makeAction(obj)
    },
    onSelected(data) {
      return this.makeAction(data)
    },
    onClear() {
      this.$store.commit('setSelected', undefined)
    },
    toTop() {
      this.$nextTick(() => {
        this.$scrollTo('#top', 500, {
          onDone: element => {
            this.$refs.search.$refs.search2.focus()
            this.$store.commit('clearResponse') // clear all result if user click fab
          }
        })
      })
    },
    searchbarVisibility(isvisible, entry) {
      this.isSearchbarVisible = isvisible
    },
    tagPostAction(_, response) {
      if (!response) return

      // Object.keys(response.results).forEach(key => {
      //   this.$set(this.response, key, response.results[key])
      // })
      this.$store.commit('setResponse', response.results) // NOTE: might cause response not watch error

      this.$nextTick(() => {
        if (response.overallTotal > 0) this.$scrollTo('#detail-container')
      })
    },
    async technicalPostAction(obj, response) {
      await this.tagPostAction(obj, response)
    },
    async modelPostAction(obj, response) {
      await this.tagPostAction(obj, response)
    },
    async makeAction(obj, opts) {
      if (opts && opts.force && this.selected && !obj) {
        obj = this.selected
      }

      if (!obj) return

      this.waiting = true

      this.$store.commit('setSelected', obj)
      const action = actions[obj.key]
      if (action) {
        const response = await action(this, obj)
        const fn = this[`${obj.key}PostAction`]
        if (fn) {
          await fn(obj, response)
        }
        this.value = this.getSuggestionAttribute(obj)
      } else {
        this.$notify({
          group: 'notification',
          title: this.$t('title.warn'),
          text: this.$t('message.notfound', {
            title: this.$t(obj.key),
            suffix: this.$t('setting')
          }),
          type: 'warn'
        })
      }

      this.waiting = false
    }
  }
}
</script>

<style lang="sass" module>
@import '~/assets/styles/_all.sass'

@import '~/assets/styles/components/card.sass'
@import '~/assets/styles/components/grid.sass'
@import '~/assets/styles/components/fab.sass'

@import '~/assets/styles/inheritances/color.sass'
@import '~/assets/styles/inheritances/utils.sass'

.card 
  height: 93%

.cardContent
  @extend %noselect

.hello
    @extend %primaryDynamicColor
    &:hover
      @extend %secondaryDynamicColor

.title
    @extend %blackDynamicColor

.textCenter
  display: flex
  flex-direction: column
  align-items: center

.upper
  text-transform: uppercase

.position
  @extend %greyDynamicColor

  &:before
    content: '|'
    padding: 0 $gap-f-5 0 $gap-f-4
  &:after
    content: '|'
    padding: 0 $gap-f-4 0 $gap-f-5

.inputContainer
  width: 100%
  margin-top: $gap-f-6

  +computer
    padding: 0 $gap-f-8 0 $gap-f-8
  +touch
    padding: 0 $gap-f-5 0 $gap-f-5

.fullContainer
  display: flex
  flex-direction: column
  padding: $gap-f-4

  padding-left: $gap-f-5


.input
  width: 100%
  height: 30px

.visible
  visibility: visible
  opacity: 1
  transition: visibility 0.3s, opacity 0.3s

.invisible
  visibility: hidden
  opacity: 0
  transition: visibility 0.3s, opacity 0.3s

.loadingComponent
  @extend %lightDynamicBGColor
  opacity: 0.5

  svg
    width: 100px
    height: 100px

    circle
      stroke-width: 2px

    path
      stroke-width: 3px

+isLightMode
  .loadingComponent
    svg
      fill: $dark
      stroke: $dark

+isDarkMode
  .loadingComponent
    svg
      fill: $light
      stroke: $light

</style>
