=generate-content($lang)
  &.protected
    @extend %noselect

  @extend %blackDynamicColor

  .title
    margin-top: $gap-f-6
    margin-bottom: $gap-f-4

  h1, h2, h3, h4, h5, h6, a
    @extend .applySansSerif
    @if $lang != ''
      @extend .#{$lang}

  code
    @extend .applyCode
    @if $lang != ''
      @extend .#{$lang}

  p, li
    @extend .applySerif
    @if $lang != ''
      @extend .#{$lang}

  h1
    @extend .h2
  h2
    @extend .h3
  h3
    @extend .h4
  h4
    @extend .h5
  h5
    @extend .h6
  h6
    @extend .h7
  p
    @extend .h7

  code
    @extend .code

  ul, ol
    margin-top: $gap-f-3

.content
  +generate-content('')

.content.en
  +generate-content('en')

.content.th
  +generate-content('th')
