// required inheritances color.sass
@import '~/assets/styles/inheritances/color.sass'
  
@each $name, $family-name in $font-families
  .apply#{$name}.en
      font-family: $family-name
  .apply#{$name}.th
      font-family: map-get($th-font-families, $name)

@each $name, $size in $font-sizes
  .#{$name}
    +mobile
      font-size: reduce-size($size, 30) // reduce 20%
    +tablet
      font-size: reduce-size($size, 20) // reduce 20%
    +computer
      font-size: $size

.code
  background-color: $grey-lighter
  border-radius: $radius-large
  font-size: 111%
  margin: 0
  padding: .2em .4em

.reference
  @extend %greyLightDynamicColor
  font-size: $font-h8

a, .link
  @extend %linkDynamicColor
  cursor: pointer
  text-decoration: underline

html[lang="th-TH"]
  @each $name, $family-name in $th-font-families
    .apply#{$name}
      font-family: $family-name

html[lang="en-US"]
  @each $name, $family-name in $font-families
    .apply#{$name}
      font-family: $family-name
