// x = x-axis
// y = y-axis
// b = blur
// s = spread
// c = color
=makeShadow($x, $y, $b, $s, $c)
  -webkit-box-shadow: $x $y $b $s $c
  -moz-box-shadow: $x $y $b $s $c
  box-shadow: $x $y $b $s $c
  
img.responsive
  width: 100%
  height: auto

+isLightMode
  img
    &.border
      border: $gap-f-2 solid $dark
    &.shadow
      +makeShadow(5px, 5px, 15px, 1px, rgba($black, 0.75))
      -webkit-transition: -webkit-box-shadow .25s
      transition: box-shadow .25s
      transition: -webkit-box-shadow .25s
      transition: box-shadow .25s, -webkit-box-shadow .25s

      &:hover
        +makeShadow(7px, 7px, 28px, 3px, rgba($black, 0.75))

+isDarkMode
  img
    opacity: .8
    transition: opacity .5s ease-in-out

    &:hover 
      opacity: 1

    &.border
      border: $gap-f-2 solid $light
    &.shadow
      +makeShadow(5px, 5px, 15px, 1px, rgba($white, 0.75))
      -webkit-transition: -webkit-box-shadow .25s
      transition: box-shadow .25s
      transition: -webkit-box-shadow .25s
      transition: box-shadow .25s, -webkit-box-shadow .25s

      &:hover
        +makeShadow(7px, 7px, 28px, 3px, rgba($white, 0.75))
