
html[theme="dark"]
  background-color: $dark

html[theme="light"]
  background-color: $light

.rootContainer
  display: flex

  +touch
    right: $gap-f-5
    left: $gap-f-5
    margin-left: $gap-f-5
    margin-right: $gap-f-5
  +computer
    right: $gap-f-7
    left: $gap-f-7
    margin-left: $gap-f-7
    margin-right: $gap-f-7

.fullContainer
  +touch
    +min-fullpanel($reduce-height: $header-size + $footer-size, $reduce-width: $gap-f-5 * 2)
  +computer
    +min-fullpanel($reduce-height: $header-size + $footer-size, $reduce-width: $gap-f-7 * 2)


.limitX
  min-width: unset
  width: unset
  max-width: unset
  overflow-x: auto

.limitY
  min-height: unset
  height: unset
  max-height: unset
  overflow-y: auto

.section
  +touch
    margin-top: $gap-f-6
  +computer
    margin-top: $gap-f-8

.centerContainer
  display: flex
  flex-direction: column

  align-items: center
  justify-content: center
  text-align: center

  min-height: calc(100vh - (#{$header-size} + #{$footer-size}))
